In [5]:
import numpy as np
import scipy.stats as stats

# Generate sample data : height of 30 students (in inches)

In [2]:
np.random.seed(40)
heights = np.random.normal(loc = 65, scale = 3, size = 30)

In [3]:
heights

array([63.17735691, 64.62159076, 62.94618092, 67.78614425, 59.4667969 ,
       63.59899273, 71.87747103, 66.46643016, 67.13080097, 68.16660333,
       65.1622193 , 65.77386025, 66.76484495, 67.65573272, 61.94897893,
       64.59892091, 63.6854435 , 66.48033048, 64.40297264, 61.17504918,
       65.88048246, 65.32685094, 65.09518036, 68.81791959, 68.2143437 ,
       66.24745404, 69.65203769, 64.06586325, 60.86228028, 69.11422636])

# Point estimation : Calculate the sample mean

In [4]:
sample_mean = np.mean(heights)
print("Sample Mean (Point Estimate) : ", sample_mean)

Sample Mean (Point Estimate) :  65.53877864874389

# Generate sample data : heights of 30 students (in inches)

In [7]:
np.random.seed(42)
height = np.random.normal(loc = 65, scale = 3, size = 30)

In [8]:
height

array([66.49014246, 64.5852071 , 66.94306561, 69.56908957, 64.29753988,
       64.29758913, 69.73763845, 67.30230419, 63.59157684, 66.62768013,
       63.60974692, 63.60281074, 65.72588681, 59.26015927, 59.8252465 ,
       63.31313741, 61.96150664, 65.942742  , 62.27592777, 60.7630889 ,
       69.39694631, 64.3226711 , 65.20258461, 60.72575544, 63.36685183,
       65.33276777, 61.54701927, 66.12709406, 63.19808393, 64.12491875])

# Caculate the sample mean and standard deviation

In [9]:
sample_mean = np.mean(height)

In [10]:
sample_std = np.std(height, ddof = 1)

# Set the desired confidence level

In [11]:
confidence_level = 0.95

# Calculate the margin of error

In [12]:
margin_of_error = stats.t.ppf((1 + confidence_level) / 2, len(height) - 1) * (sample_std / np.sqrt(len(height)))

# Calculate the Confidence Interval

In [13]:
lower_bound = sample_mean - margin_of_error
upper_bound = sample_mean + margin_of_error

In [14]:
lower_bound

63.427355543105506

In [15]:
upper_bound

65.44376308178826

# Print confidence interval

In [16]:
print(f"Confidence Interval ({confidence_level * 100}%) : [{lower_bound}, {upper_bound}]")

Confidence Interval (95.0%) : [63.427355543105506, 65.44376308178826]

# Hypothesis T Test

# After the generating sample data for two groups performing independent       t-test

In [19]:
np.random.seed(42)
group1_scores = np.random.normal(loc = 70, scale = 5, size = 30)
group2_scores = np.random.normal(loc = 75, scale = 5, size = 30)

In [20]:
t_statistic, p_value = stats.ttest_ind(group1_scores, group2_scores)

# Set the Significant Level

In [21]:
alpha = 0.05

In [23]:
print("T-Test Results : ")
print("T-Statistics : ",t_statistic)
print("P-value", p_value)

T-Test Results :
T-Statistics :  -4.512913234547576
P-value 3.176506547469916e-05

# Check if the p-value is less than alpha to determine significance

In [25]:
if p_value < alpha:
    print("Reject the null hypothesis. There is a significant difference between the means of the two groups.")
else:
    print("Fail to Reject the null hypothesis. There is no significant difference between the means of the two group.")

Reject the null hypothesis. There is a significant difference between the means of the two groups.